.DS_Store
# https://github.com/github/gitignore/blob/master/C.gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# env
.env
.env.*
**/.env
**/.env.*

# key
.key
.key.*
**/.key
**/.key.*

# Libraries
*.lib
*.a
*.la
*.lo

# nodejs
**/node_modules/*

# serverless
**/.serverless/*

